* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font", sans-serif;
  font-size: 16px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
  transition-property: background-color;
  transition-duration: 0.2s;
}

/*
#window {
  font-weight: bold;
  font-family: "Hack Nerd Font", sans-serif;
}
*/

#workspaces button {
  padding: 5px 8px;
  margin: 0 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

#workspaces button.empty {
  color: gray;
}

#workspaces button.active {
  background-color: white;
  color: black;
}

#clock, #battery, #network, #backlight, #pulseaudio, #custom-power {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 8px;
  border-radius: 10px;
  color: white;
}

#battery.charging {
  color: lightgreen;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: red;
}

#pulseaudio.muted {
  color: red;
}

menu {
	border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

menuitem {
	border-radius: 15px;
  color: white;
}
